doctype html

html
  head
    meta(charset="UTF-8")
    title ここにタイトル
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" type="text/css" href="../stylesheet/main.css")
  body
    include include/block/header.pug
    main
      h1 Title タイトル（題名）
    include include/block/footer.pug