// ────────────────────────────────────────────────
// file: common.scss
// ────────────────────────────────────────────────

body {
  background-color: #EEE;
  margin: 50px;
}

// ==========================================================================
// Noto Sans JP & YakuHanJP
// ==========================================================================
body {
  font-family: YakuHanJP, "Noto Sans", 'Noto Sans JP', "Hiragino Sans", Meiryo, "Yu Gothic Medium", sans-serif;
}