footer.footer
  dl.author
    dt
      | Made by&nbsp;
      a(href="https://github.com/t--takai") @t--takai
    dd
      a(href="https://github.com/t--takai/web-app").author__github
        i(data-feather="github")
        | GitHub
    dd
      a(href="https://twitter.com/TomonariTakai").author__twitter
        i(data-feather="twitter")
        | Twitter
